* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.profile {
    margin-right: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.cv-details {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.profession {
    font-size: 18px;
    color: #777;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}